//$body-background-color: $grey-dk-000;
$sidebar-color: $grey-dk-300;
$border-color: $grey-dk-200;

$body-text-color: $grey-lt-300;
$body-heading-color: $grey-lt-000;
$nav-child-link-color: $grey-dk-000;
$search-result-preview-color: $grey-dk-000;

$link-color: $grey-dk-000;
$link-hover: $grey-dk-400;
$btn-primary-color: $blue-200;
$base-button-color: $grey-dk-250;

// $code-background-color: $grey-dk-250;
$search-background-color: $grey-dk-250;
$table-background-color: $grey-dk-250;
$feedback-color: darken($sidebar-color, 3%);

// -----------

$toc-permalink-border-left-color-target: $grey-dk-300;

$category-item-background: $grey-lt-000;
$post-table-tr-background-hover: $grey-lt-300;
// $post-table-wrapper-background: $grey-dk-000;
$category-item-color: $link-color;
$category-item-color-hover: $link-hover;
$category-item-background-hover: $grey-lt-300;
