$link-color: $red-600;
$link-hover: $red-999;

$code-background-color: $red-lt-000;
$code-color: $red-600;

$toc-permalink-border-left-color-target: $red-600;

// $post-search-wrapper-category-background: $red-lt-000;
$post-search-wrapper-category-description-color: $red-lt-000;
$post-search-wrapper-post-search-border: $red-600;
$post-search-wrapper-post-search-outline-color: $red-600;
$post-table-tr-background-hover: $red-lt-000;
$category-item-color: $red-100;
$category-item-color-hover: $red-999;
$category-item-background-hover: $red-lt-100;
