<head>
    <meta charset="UTF-8"/>
    <title>
        {%- if page.url != '/' -%} {{ page.title }} | {%- endif -%}
        {{ site.title }}
    </title>
    {%- if page.description -%}
    <meta name="Description" content="{{ page.description }}"/>
    {%- endif -%}
    <link rel="icon" href="{{ site.favicon | default: '/favicon.ico' | relative_url }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes"/>
    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="{% include tools/get_site_url.liquid file_name='common.css' type='css' %}" id='common_css'/>
    <!-- CSS set in module -->
    {%- for module in layout.modules -%}
    <link rel="stylesheet" type="text/css" href="{% include tools/get_site_url.liquid file_name=module type='module/css' %}">
    {%- endfor -%}
    <!-- CSS set in layout -->
    {%- for css in layout.css -%}
    <link rel="stylesheet" type="text/css" href="{% include tools/get_site_url.liquid file_name=css type='css' %}">
    {%- endfor -%}
    <!-- CSS set in page -->
    {%- for css in page.css -%}
    <link rel="stylesheet" type="text/css" href="{% include tools/get_site_url.liquid file_name=css type='css' %}">
    {%- endfor -%}
    {%- include head_custom.html -%}
</head>