// tag description

$tag-padding: $sp-1;
$tag-padding-left: $sp-5;

$tag-item-color: $category-item-color;
$tag-item-color-hover: $category-item-color-hover;
$tag-item-background-hover: $category-item-background-hover;

.tag-list {
    font-size: 0.8rem;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        display: inline-block;
    }

    .tag-item {
        // background: $category-item-background;
        display: inline-block;
        position: relative;
        color: $tag-item-color;
        font-size: 0.8em;
        padding: $tag-padding;
        padding-left: $tag-padding-left;
        $R: $tag-padding-left;
        border-radius: $R 0em 0em $R;
        margin: 0.2em 0.1em;
        border: 1px solid $tag-item-color;

        &:before {
            position: absolute;
            content: ' ';
            background-color: $tag-item-color;
            left: 0.5em;
            top: 50%;
            transform: translateY(-50%);
            $H: $R / 2 ;
            height: $H;
            width: $H;
            border-radius: $H;
        }

        &:link, &:visited {
            text-decoration: none;
        }

        &:hover, &.match {
            color: $tag-item-color-hover;
            border-color: $tag-item-color-hover;
            background: $tag-item-background-hover;
        }
    }
}

.post-search-tag-list {
    .tag-item {
        margin-left: 0.1em;
        &:after {
            content: attr(data-size);
            margin-left: $tag-padding;
            border-left: 1em red;;
            color: $tag-item-color;
            right: 0;
        }
    }
}