// category description

$category-item-color: $purple-lt-100 !default;
$category-item-color-hover: $purple-000 !default;
$category-item-background: unset !default;
$category-item-background-hover: $purple-lt-000 !default;

.category-list {
    font-size: 0.8rem;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        display: inline-block;
    }

    a:link, a:visited {
        text-decoration: none;
    }

    .category-item {
        // background: $category-item-background;
        display: inline-block;
        color: $category-item-color;
        padding: 0.25em 0.5em;
        margin: 0.2em 0.1em;
        border: 1px solid $category-item-color;
        font-size: initial;
        border-radius: 0.25em;
        &~.category-item-description {
            content: attr(data-description);
            color: $post-search-wrapper-category-description-color;
            font-size: 0.8rem;
            position: absolute;
            display: none;
            // left: 0;
            // right: 0;
            margin-top: 0.5rem; // XXX below the button
            left: 10%;
            right: 10%;
            // min-width: 15em;
            min-width: 20em;
            word-break: break-all;
            padding: 0.8em;
            border-radius: 1em;
            background: rgba(0, 0, 0, 0.75);
            z-index: 1;
            pointer-events: none;
        }
        &:hover~.category-item-description {
            display: block;
        }
        
    }
    .category-item:hover, .match {
        color: $category-item-color-hover;
        border-color: $category-item-color-hover;
        background: $category-item-background-hover;
    }
}
