// binary list and search

$post-search-wrapper-category-description-color: $grey-lt-000 !default;
$post-search-wrapper-post-search-border: unset !default;
$post-search-wrapper-post-search-outline-color: unset !default;
$post-table-tr-background-hover: $grey-lt-000 !default;
$post-table-wrapper-background: unset !default;

#post-table-wrapper {
    background: $post-table-wrapper-background;
}

#post-search-wrapper {
    margin: 50px 0;
    padding: 10px 0;
    position: relative; // XXX needed for tooltip sizing

    ul{
        margin-top: 0.5em;
    }

    #post-search {
        margin-top: 25px;
        padding: 1em;
        font-size: 1rem;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid $post-search-wrapper-post-search-border;
        outline-color: $post-search-wrapper-post-search-outline-color;
    }
}

.post-search-category-list, .post-search-tag-list {
    text-align: center;
}

$post-table-link-hover: $link-hover !default;

#post-table {
    width: 100%;

    th, td {
        padding: 0.2em 0em 1em 0.2;
    }

    th {
        text-align: left;
    }

    tbody tr:hover {
        background: $post-table-tr-background-hover;
    }

    tbody tr:hover a {
        text-decoration-line: none;
        color: $post-table-link-hover;
    }

    #search-message-no-result {
        display: none;
        text-align: center;
        padding: 1em;
    }
}

.post-title {
    // font-family: monospace;
    font-size: 1.2rem;
}