h2, h3, h4, h5, h5 {
  .permalink {
      margin-left: 5px;
      text-decoration: none;
      visibility: hidden;

      &::before {
          content: "#";
      }
  }

  &:target {
      border-left: 5px solid $toc-target-border-color;
      padding-left: 5px;
  }

  &:hover {
      .permalink {
          visibility: visible;
      }
  }
}