<div class="github-buttons">
    <img style='padding-left:10px;' src='https://komarev.com/ghpvc/?username={{site.github.username}}&style=flat-square'>
    <img src="https://img.shields.io/github/commit-activity/m/{{site.github.username}}/{{site.github.repo}}" alt="GitHub commit activity">
    <!--<a class="github-button" href="https://github.com/{{site.github.username}}/{{site.github.repo}}" data-icon="octicon-star" data-show-count="true" aria-label="Star on GitHub">Star</a>-->
    <a class="github-button" href="https://github.com/{{site.github.username}}" data-color-scheme="no-preference: dark_high_contrast; light: light_high_contrast; dark: light;" data-show-count="true" aria-label="Follow @{{site.github.username}} on GitHub">Follow @{{site.github.username}}</a>
</div>