<ul class="tag-list">
  {%- assign post_tags = include.post.tags | compact -%}
  {%- for tag_label in post_tags -%}
    {%- capture tag_show -%}{%- include tools/get_tag_attribute.liquid attribute='is_tag_show' tag_id=tag_label -%}{%- endcapture -%}
    {%- capture tag_label_id -%}{%- include tools/get_tag_attribute.liquid attribute='label_id' tag_id=tag_label -%}{%- endcapture -%}
    {%- if tag_show == 'show' -%}
      <li><a data-label="{{ tag_label_id }}" class="tag-item tag-item-{{ tag_label_id }}">{{ tag_label }}</a></li>
    {%- endif -%}
  {%- endfor -%}
</ul>