<ul class="category-list">
  {%- assign post_categories = include.post.categories | compact -%}
  {%- for category_id in post_categories -%}
    {%- capture category_show -%}{%- include tools/get_category_attribute.liquid attribute='is_category_show' category_id=category_id -%}{%- endcapture -%}
    {%- if category_show == 'show' -%}
      {%- capture category_description -%}{%- include tools/get_category_attribute.liquid attribute='description' category_id=category_id -%}{%- endcapture -%}
      {%- capture category_label -%}{%- include tools/get_category_attribute.liquid attribute='label' category_id=category_id -%}{%- endcapture -%}
      {%- capture category_label_id %}{% include tools/get_category_attribute.liquid attribute='label_id' category_id=category_id -%}{%- endcapture -%}
      <li><a data-label="{{ category_label_id }}" class="category-item category-item-{{ category_label_id }}"
      data-description="{{ category_description }}">{{ category_label }}</a></li>
    {%- endif -%}
  {%- endfor -%}
</ul>