<!--todo tag filter-->
<!--posts filter-->
<div id="search-wrapper">
  <ul id="category-list" class="category-list">
      {%- for category in site.categories -%}
        {%- assign category_id = category[0] -%}
        {%- assign category = category[1] -%}
        {%- capture category_label %}{% include tools/get_category_attribute.liquid attribute='label' category_id=category_id -%}{%- endcapture -%}
        {%- capture category_description %}{% include tools/get_category_attribute.liquid attribute='description' category_id=category_id -%}{%- endcapture -%}
        {%- if site.data.categories[category_id].show != false -%}
          <li><a data-label="+{{ category_label | downcase }}" class="category-item"
          data-description="{{ category_description }}">
          {{ category_label }}</a></li>
        {%- endif -%}
      {%- endfor -%}
  </ul>
  <input id="post-search" type="text" placeholder="Search among {{ site.posts | size }} posts: <title> +<category> ..."/>
</div>
<!--posts shower-->
<div id="post-table-wrapper">
  <table id="post-table">
      <thead>
          <tr>
              <th>Title</th>
              <th>Category</th>
          </tr>
      </thead>
      <tbody>
          {%- for post in site.posts -%}
          <tr>
              <td><a href="{{ post.url | relative_url}}" class="post-title">{%- include tools/get_post_attribute.liquid attribute='title' post=post -%}</a></td>
              <td>
                <ul class="category-list">
                    {%- for category_id in post.categories -%}
                      {%- if site.data.categories[category_id].show != false -%}
                        {%- capture category_description -%}{%- include tools/get_category_attribute.liquid attribute='description' category_id=category_id -%}{%- endcapture -%}
                        {%- capture category_label -%}{%- include tools/get_category_attribute.liquid attribute='label' category_id=category_id -%}{%- endcapture -%}
                        <li><a data-label="+{{ category_label | downcase }}" class="category-item"
                        data-description="{{ category_description }}">{{ category_label }}</a></li>
                      {%- endif -%}
                    {%- endfor -%}
                </ul>
              </td>
          </tr>
          {%- endfor -%}
      </tbody>
      <tfoot>
          <tr><td id="search-message-no-result" colspan="2">No post matches...</td></tr>
      </tfoot>
  </table>
</div>
<!--posts filter js-->
<script>
// mudules/post_tables.js
</script>